<head>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Dancing+Script&display=swap" rel="stylesheet">
  </head>
  
  
  
  <style>
  header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #d03711;
    opacity: 0.8;
  } 
  header.masthead .page-heading h1, header.masthead .site-heading h1 {
      font-size: 80px;
      font-family: "Cinzel Decorative";
      color: #FFD700;
      text-shadow: 1px black;
    -webkit-text-stroke: 1px black; /* For Safari support */
    }
</style>